@model IEnumerable<ContentfulMVC.Models.Posts>;


<div class="grid">
    @foreach (var post in Model)
    {
        @if (post.Title != null)
        {
            
            <div class="item">
                <a href="@Url.Action("SinglePost", "Posts", new { id = post.sys.Id })">
                    <img class="masonryImage" src="@post.FeaturedImage.File.Url" />
                </a>
                
                <div class="content">
                    <a href="@Url.Action("SinglePost", "Posts", new { id = post.sys.Id })">
                        <h2>@post.Title </h2>
                        
                    </a>
                    <hr />
                    <p class="contentfulContent">@post.Content.Substring(0, 120)<a href="@Url.Action("SinglePost", "Posts", new { id = post.sys.Id })">...More</a></p>
                    <div class="publications">
                        <p id="Author">By <a asp-action="About" asp-controller="Home">@post.Author.FullName</a></p>
                        <p id="PublishDate">@post.PublishDate</p>
                    </div>
                </div>

            </div>

        }
    }
</div>
<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
