@model IEnumerable<ContentfulMVC.Models.Posts>;



<div class="grid">
    @foreach (var post in Model)
    {
        @if (post.Title != null)
        {
            <a asp-controller="Posts" asp-action="SinglePost">
                <div class="item" style="background:url('@post.FeaturedImage.File.Url'); background-size:cover; ">
                    <div class="content">
                        <h2>@post.Title</h2>
                        <hr />
                        <p>@post.Content.Substring(0, 120)<a href="">...More</a></p>
                        <div class="publications">
                            <p id="Author">By <a asp-action="About" asp-controller="Home">@post.Author.FullName</a></p>
                            <p id="PublishDate">@post.PublishDate</p>
                        </div>
                    </div>

                </div>
            </a>
            <a href="http://google.com">
                <div>
                </div>
            </a>
        }
    }
</div>
<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
