@model Posts
<div class="row" style="margin:0px;">
    <div class="hgContainer">
        <!--Each image will go here.
        You could use divs of list hgItems li  -->
        @if ( @Model.galleryOfPhotos == null)
        {
            <div class="hgItem" style="background-image:url('@Model.FeaturedImage.File.Url');background-size:cover;">
                
            </div>

        }
        else
        {
        @foreach (var img in @Model.galleryOfPhotos)
        {

            <div class="hgItem img1" style="background-image:url('@img.File.Url');">
                <div>
                    <h1 class="content">@img.Title</h1>
                    <p class="content">
                        @img.Description
                    </p>
                </div>
            </div>
        }
        }
    </div>
</div>
