@model ContentfulMVC.Models.ViewModels.WhoIAm
@Html.Partial("Canvas")
@Html.Partial("Wrapper")

<div id="widMe" style="background:linear-gradient(rgba(128, 128, 128,0.3),rgba(128, 128, 128,0.3)),url('@Model.Portfolio.FeaturedImage.File.Url');background-size:cover; width:100%;height:80vh;background-attachment: fixed !important;">

    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="widContent">
                <h3>About Me</h3>
                <hr />
                <p class="contentfulContent">@Model.Portfolio.Experience</p>
            </div>

        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">

            <h2 id="widTyper">What I Do</h2>
            <h2 id="stuff"></h2>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="widContent">
                <h3>Skills</h3>
                <hr />
                <div class="row" style="padding:0;">

                    @foreach (string skill in Model.Portfolio.Skills)
                    {
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            @{int i = 0; }
                            @if (i <= Model.Portfolio.Skills.Count / 2)
                            {
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <ul>
                                        <li>@skill</li>
                                    </ul>
                                </div>
                                i++;
                            }
                            else
                            {
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <ul>
                                        <li>@skill</li>
                                    </ul>
                                </div>
                            }
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@await Component.InvokeAsync("ProjectsList")
<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 resetPadding" style="padding-right:0;">
        <iframe height='265' scrolling='no' title='Social Links(Hover Effects)' src='//codepen.io/comoser/embed/preview/ypaJYR/?height=265&theme-id=0&default-tab=result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>
            See the Pen <a href='https://codepen.io/comoser/pen/ypaJYR/'>Social Links(Hover Effects)</a> by Cody Moser (<a href='https://codepen.io/comoser'>comoser</a>) on <a href='https://codepen.io'>CodePen</a>.
        </iframe>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 resetPadding" style="padding:0;">
        <iframe height='265' scrolling='no' title='Diagnal Section' src='//codepen.io/comoser/embed/preview/yprmYq/?height=265&theme-id=0&default-tab=result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>
            See the Pen <a href='https://codepen.io/comoser/pen/yprmYq/'>Diagnal Section</a> by Cody Moser (<a href='https://codepen.io/comoser'>comoser</a>) on <a href='https://codepen.io'>CodePen</a>.
        </iframe>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 resetPadding" style="padding-left:0;">
        <iframe height='265' scrolling='no' title='p5.js AudioVusualizer' src='//codepen.io/comoser/embed/preview/OvbNba/?height=265&theme-id=0&default-tab=result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>
            See the Pen <a href='https://codepen.io/comoser/pen/OvbNba/'>p5.js AudioVusualizer</a> by Cody Moser (<a href='https://codepen.io/comoser'>comoser</a>) on <a href='https://codepen.io'>CodePen</a>.
        </iframe>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 resetPadding" style="padding-right:0;">
        <iframe height='265' scrolling='no' title='Canvas Animating Circles' src='//codepen.io/comoser/embed/preview/zEPOPG/?height=265&theme-id=0&default-tab=result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>
            See the Pen <a href='https://codepen.io/comoser/pen/zEPOPG/'>Canvas Animating Circles</a> by Cody Moser (<a href='https://codepen.io/comoser'>comoser</a>) on <a href='https://codepen.io'>CodePen</a>.
        </iframe>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 resetPadding" style="padding-left:0;">
        <iframe height='265' scrolling='no' title='FlexBox Gallery (Vertical)' src='//codepen.io/comoser/embed/preview/RxPMgO/?height=265&theme-id=0&default-tab=result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>
            See the Pen <a href='https://codepen.io/comoser/pen/RxPMgO/'>FlexBox Gallery (Vertical)</a> by Cody Moser (<a href='https://codepen.io/comoser'>comoser</a>) on <a href='https://codepen.io'>CodePen</a>.
        </iframe>
    </div>
</div>


